@model ECommerceSite.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Bu Kaydı silmek istediğinizden emin misiniz?</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
           Başlık
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
           Açıklama
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
           Fiyat
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
           Resim
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
           Anasayfa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHome)
        </dd>
        <dt class = "col-sm-2">
           Stok
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStock)
        </dd>
        <dt class = "col-sm-2">
            Kategori
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Kayıt Listesi</a>
    </form>
</div>
